@import "~materialize-css/dist/css/materialize.css";
@import "~material-icons/iconfont/material-icons.css";

/**
	Estilo do index
*/

.intro {
    text-align: center;
    padding-top: 13%;
    padding-bottom: 13%;
    min-height: 680px;
    margin-bottom: 50px;
    background-image: url("assets/resources/images/principal.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .intro h1 {
    font-weight: 400;
    text-transform: uppercase;
  }
